body {
  font-family: Helvetica;
  background-image: url('../public/fundo-de-ficcao-cientifica.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock {
  font-size: 48px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
  height: 80px;
  display: flex;
  align-items: center;
}

.clock span {
  margin-right: 0.5rem;
}

.divider {
  margin: 0 8px;
}
